.sm{
    height: var(--spacing-xs);
    width:var(--spacing-xs); ;
}
.md{
    height: var(--spacing-md);
    width: var(--spacing-md);
}
.lg{
    height: var(--spacing-xl);
    width: var(--spacing-xl);
}
.xlg{
    height: var(--spacing-4xl);
    width: var(--spacing-4xl);
}