.applicationStatus {
}
.applicationStatus > h2 {
  color: var(--primary---main500);
  font-size: var(--heading---s---bold);
  font-weight: var(--weight--bold);
}
.applicationStatus > p {
  font-size: var(--subheading---s---regular);
  font-weight: var(--weight--regular);
  color: var(--neutral---main750);
}
.applicationStatus > p > span {
  font-size: var(--subheading---m---regular);
  color: var(--primary---main500);
  font-weight: var(--weight--bold);
}
.formContainer {
  padding-inline: var(--spacing-13xl);
}
.formContainer.loadingState {
  pointer-events: none;
}
.formContainer.loadingState::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--neutral---main250);
  opacity: 0.3;
  z-index: 1;
}
@media (max-width: 768px) {
  .formContainer {
    display: flex;
    padding-inline: var(--spacing-sm);
  }
}
