button{
    padding: var(--spacing-2xs);
    border-radius: var(--spacing-4xs);
}

.sm{
    font-size: 12px;
    width: var();
}
.md{
    height: var(--spacing-4xl);
    font-size: 16px;
    width: var();
}
.lg{
    height: var(--spacing-7xl);
    font-size: 20px;
    width: var();
}
.activesolid{
    background-color: var(--primary---main500);
    color: var(--shades---main-white);
    border: none;
    box-shadow: 2px var(--primaryshdw--md);
}
.activeoutline{
    border: 2px solid var(--primary---main500);
    color: var(--primary---main500);
    box-shadow: 2px var(--primaryshdw--md);
}
.hoversolid{
    background-color: var(--primary---main300);
    color: var(--shades---main-white);
    border: none;
    box-shadow: 2px var(--primaryshdw--lg);
}
.hoveroutline{
    border: 2px solid var(--primary---main300);
    color: var(--primary---main300);
    box-shadow: 2px var(--primaryshdw--lg);
}
.disabledsolid{
    background-color: var(--neutral---main150);
    color: var(--shades---main-white);
    border:none;
    box-shadow: 2px var(--neutralshdw--lg);
}
.disabledoutline{
    border: 2px solid var(--neutral---main150);
    color: var(--neutral---main150);
    box-shadow: 2px var(--neutralshdw--lg);
}