button {
  background-color: var(--shades---main-white);
  padding-inline: var(--spacing-2xs);
  padding-block: var(--spacing-4xs);
  border-radius: var(--spacing-4xs);
  width: max-content;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3xs)
}
.sm {
  font-size: var(--spacing-xs);
}
.md {
  font-size: var(--spacing-md);
  min-width: 130px;
}
.lg {
  font-size: var(--spacing-lg);
}
.solid {
  background-color: var(--primary---main500);
  color: var(--shades---main-white);
  box-shadow: 2px var(--primaryshdw--md);
}
.solid:hover {
  background-color: var(--primary---main300);
  box-shadow: 2px var(--primaryshdw--lg);
}
.solid:disabled {
  background-color: var(--neutral---main150);
  box-shadow: 2px var(--neutralshdw--lg);
}
.outline {
  border: 2px solid var(--primary---main500);
  color: var(--primary---main500);
  box-shadow: 2px var(--primaryshdw--md);
}
.outline:hover {
  border: 2px solid var(--primary---main300);
  color: var(--primary---main300);
  box-shadow: 2px var(--primaryshdw--lg);
}
<<<<<<< HEAD



.solid:disabled {
  background-color: var(--neutral---main150);
  color: var(--shades---main-white);
  border: none;
  box-shadow: 2px var(--neutralshdw--lg);
}
=======
>>>>>>> a593751c3e67f7c821c743e8ada0bb75837a3e2c
.outline:disabled {
  border: 2px solid var(--neutral---main150);
  color: var(--neutral---main150);
  box-shadow: 2px var(--neutralshdw--lg);
}
