/* SignUpFormWithImage.css */

.signupcontainer {
    display: flex;
    min-width: 568px;
  }
  
  .imagecontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .signupform {
    flex: 1;
    display: flex;
  }
  
  .buttonscontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px
  }
  .buttonscontainer span{
    font-size: 12px;
    font-weight: 600;
    align-items: center;
  }
  