/* SignUpFormWithImage.css */

.reset-container {
    display: flex;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center; 
    margin: 100px 100px 150px 100px ;
  }
  
  .reset-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 30px;
    margin: 10px 200px 10px 100px ;
    width: 60%; /* Increase the max-width for a wider form */
  }
  
  .center-form {
    width: 100%;
  }

  .label {
    font-size: 100px; /* Increase the font size of the labels */
  }
  
  input {
    padding: 5px; /* Add padding for better visual appearance */
    margin-bottom: 15px; /* Adjust the margin for spacing between fields */
  }
  