
* {
  top:0px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 154px;
  background-color: var(--shades---main-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px var(--spacing-11xl);
  z-index: 2; 

}


/* logo  */
.logo img{

  height: 60px; 
  display: inline-block;
  margin-right: auto; 
}

.navMenu {
  
  align-items: center;
  display: flex;
  gap: var(--spacing-7xl);
}

.icon {
  display: none;
}

.text {
  height: 38px;
  color: var(--neutral---main750);
  font-size: var(--subheading---l---regular); 
}

.button{
  display: none;
  
}

.hamburger {
  display: none; 
  cursor: pointer;
}


/* media queries */

@media screen and (max-width: 768px){

  

  .logo img{
    height: 36px; 
  }
  
  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger img {
    height: 32px; 
  }


  .navbar{
    width: 100vw;
    height: 100px;
    background-color: var(--shades---main-white);
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    padding-top: var(--spacing-sm);
    

  }

  /* navMenu */

  .navMenu{

    background-color: var(--shades---main-white);
    top: 100px;
    left: -100%;
    width: 100%;
    position: fixed;
    flex-direction: column;
    transition: 0.7s ease-in-out;
    align-items: flex-start;
    padding:  0px var(--spacing-sm);
  }

  .navMenu img {
    margin-right: var(--spacing-2xs);
    display: block;
    cursor: pointer;
  }

  .text {
    height: 38px;
    color: var(--primary---main900);
    font-size: var(--subheading---l---regular);
  }


  .navMenu.active{
    
    left: 0;
  }

  .navMenu li {
    gap: 40px 0;
    display: flex;
   
  }

  .button{
    padding: var(--spacing-xs) var(--spacing-4xs);
    align-items:center;
    width: 100vw;
    height: 32px;
    gap: var(--spacing-xs);
    flex-direction: column;
    /* margin-top: auto; Align to the bottom */

  }
  
}

