
*{
    font-family: 'Noto Sans', sans-serif;
    font-weight: var(--weight--regular);
  }

  /* input field colors */
.isWronginputfieldcontainer{
    position: relative;
    border: 1px solid var(--error---main900);
    margin:var(--spacing-xs); 
    border-radius: var(--spacing-4xs);
}
.isWronginputfield{
    border: none;
    outline: none;
    color:var(--error---main900);
    font-size: var(--spacing-xs);
    padding: var(--spacing-2xs);
    background: transparent;
    z-index: 1111;
}
.isWronginputfield:focus{
    border: none;
    outline: none;
}

.defaultinputfieldcontainer{
    position: relative;
    border: 1px solid var(--primary---main700);
    margin:var(--spacing-xs);
    border-radius: var(--spacing-4xs);

}
.defaultinputfield{
    border: none;
    color: var(--primary---main700);
    font-size: var(--spacing-xs);
    padding: var(--spacing-2xs);
    background: transparent;
    z-index: 1111;
}
.defaultinputfield:focus{
    border: none;
    outline: none;
}

/* input field icons */
.textRight{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    cursor: pointer;
    background-image: url('../../assets/x-circle-right.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.textWrong{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    cursor: pointer;
    background-image: url('../../assets/x-circle-wrong.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.passwordRight{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    cursor: pointer;
    background-image: url('../../assets/eye-slash-right.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.passwordWrong{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    cursor: pointer;
    background-image: url('../../assets/eye-slash-wrong.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* input field sizes */
.sm{
    height:var(--spacing-5xl);
    font-size: var(--spacing-xs);
}
.md{
    height: var(--spacing-6xl);
    font-size: var(--spacing-sm);
}
.lg{
    height: var(--spacing-7xl);
    font-size: var(--spacing-md);
}

/* icon sizes */
.small{
    height: var(--spacing-sm);
    width: var(--spacing-sm);
}
.medium{
    height: var(--spacing-md);
    width: var(--spacing-md);
}
.large{
    height: var(--spacing-lg);
    width: var(--spacing-lg);
}

    /* floating label */
    .floatingLabel {
        position: absolute;
        pointer-events: none; 
        left: 8px;
        top: 12px;
        transition: 0.2s ease-out;
        color: #7b7b7b;
    }

    .floatingLabeldefault {
        position: absolute; 
        left: 8px;
        top: 50%; 
        transform: translateY(-50%); 
        transition: 0.2s ease-out;
        color: var(--neutral---main350);
        z-index: -1;
    }


    .defaultinputfield:focus + .floatingLabel,
    .defaultinputfield:not(:placeholder-shown) + .floatingLabel {
        top: -12px;
        color: var(--neutral---main750);
        background-color: white;
        padding: 0 6px 0 6px;
    }


    .isWronginputfield:focus + .floatingLabel,
    .isWronginputfield:not(:placeholder-shown) + .floatingLabel {
        top: -12px;
        color: var(--error---main900);
        background-color: white;
        padding: 0 6px 0 6px;
    }

    /* label sizes */
    .labellg{
        font-size: var(--spacing-md);
    }
    
    .labelmd{
        font-size: var(--spacing-sm);
    }
    .labelsm{
        font-size: var(--spacing-xs);
    }
    
    .labelsizefloating{
        font-size: var(--spacing-xs);
    }



