
/* CheckboxComponent.css */
.checkbox-component {
  background: var(--shades-mainwhite, #ffffff);
  padding: 0px 0px 22px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text {
  color: var(--neutral-main750);
  text-align: left;
  flex: 1;
}

.small{
  font-size: var(--paragraph---m---light);
  line-height: 20px;
}

.medium{
  font-size: var(--paragraph---l---light);
  line-height: 21px;
}

.large{
  font-size: var(--subheading---s---light);
  line-height: 34px;
}

.icon,
.icon2 {
  flex-shrink: 0;
  margin-right: 8px;
  overflow: hidden;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group > input {
  display: none;
}




