/* SignUpFormWithImage.css */

.login-container {
    display: flex;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center; 
    margin: 20px 20px 100px 20px ;
  }
  
  .login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: 30px;
    width: 100%; /* Increase the max-width for a wider form */
    margin: 0px 10px 10px 10px ;
  }
  
  .center-form {
    width: 100%;
  }

  .label {
    font-size: 100px; /* Increase the font size of the labels */
  }
  
  input {
    padding: 5px; /* Add padding for better visual appearance */
    margin-bottom: 15px; /* Adjust the margin for spacing between fields */
  }
  