.list-item {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.icon-container {
    display: flex;
    align-items: center; 
  }
  
  .icon {
    flex-shrink: 0;
    object-fit: contain; 
  }
  .size-small .icon {
    width: 16px;
    height: 16px;
  }
  .size-large .icon {
    width: 24px;
    height: 24px;
  }
  
  .text {
    margin-left: 8px; 
    color: var(--neutral-main750, #666666);
    font-family: var(--paragraph-m-light-font-family, "NotoSans-Light", sans-serif);
    font-weight: var(--weight--light);
  }  
  .size-small .text {
    font-size: var(--paragraph---m---light);
    line-height: var(--spacing-sm);
  } 
  .size-large .text{
    font-size: var(--subheading---s---regular);
    line-height: var(--spacing-xl);
  }