.signupcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.signupcontainer.loadingState {
  pointer-events: none;
}
.signupcontainer.loadingState::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--neutral---main250);
  opacity: 0.3;
  z-index: 1;
}

.signupform {
  width: 100%;
}
.signupform h1 {
  color: var(--primary---main500);
  font-size: var(--heading---m---bold);
  font-weight: var(--weight--extra-bold);
}
.signupform h2 {
  color: var(--neutral---main750);
  font-size: var(--subheading---m---regular);
  font-weight: var(--weight--light);
}
.signupform > form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xs);
  width: 100%;
}
.loginOptionToggler{
  color: var(--neutral---main750);
  font-size: var(--subheading---x-s---regular);
  font-weight: var(--weight--light);
  width:max-content;
  margin-left:auto;
  cursor:pointer;
  transition: color 100ms ease-in;
}
.loginOptionToggler:hover{
  color: var(--neutral---main500);
}
.otpContainer {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items:start;
}
.otpContainer > button{
  margin-top:var(--spacing-xs);
}
.otpContainer > button > span {
  font-size: var(--subheading---x-s---bold);
  font-weight: var(--weight--extra-bold);
}
.buttonscontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: fit-content;
  text-align: center;
}

.buttonscontainer > span {
  font-size: var(--paragraph---m---light);
  font-weight: var(--weight--medium);
}

/* Media query for mobile screens */
@media (max-width: 884px) {
  .signupcontainer {
    grid-template-columns: 1fr;
    min-width: 300px;
  }

  .signupform h2 {
    font-size: var(--subheading---s---regular);
    font-weight: var(--weight--medium);
  }
  .imagecontainer {
    display: flex;
    justify-content: center;
  }
  .imagecontainer > svg {
    max-width: 100%;
    height: auto;
  }

  .signupform > form {
    gap: var(--spacing-3xs);
  }
  .otpContainer > button > span {
    font-size: var(--paragraph---m---light);
  }
  .buttonscontainer {
    text-align: center;
    max-width: fit-content;
  }

  .buttonscontainer > span {
    font-size: 12px;
    font-weight: 600;
  }
}
